<div class="offices-new">
  <h1>Create a new office</h1>
  <%= simple_form_for @office do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :workspace_type %>
  <%= f.input :number_of_seats %>
  <%= f.submit class:"btn btn-primary" %>
  <% end %>
  <%= link_to 'Cancel', offices_path %>
</div>
