<div class="offices-new">
  <h1 style="margin-top: 0px; color: rgb(15,15,15);">Create a new office</h1>
  <%= simple_form_for @office do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :price, input_html: { min: 0, max: 5000 } %>
  <%= f.input :workspace_type, collection: ['Shared space', 'Private space', 'Meeting room'] %>
  <%= f.input :number_of_seats, input_html: { min: 0, max: 500 } %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <ul class="list-inline">
    <li>  <%= f.input :wifi, as: :boolean %></li>
    <li>  <%= f.input :coffee, as: :boolean %></li>
    <li>  <%= f.input :lockers, as: :boolean %></li>
    <li>  <%= f.input :kitchen, as: :boolean %></li>
  </ul>
  <%= f.submit class:"btn btn-primary" %>
  <% end %>
  <%= link_to 'Cancel', offices_path %>
</div>
