<div class="infowindow">
  <%= link_to office_path(office), class:"office-card-link" do %>
  <div class="office-card map-card">
    <% if office.photo.filename %>
      <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dy3nldgkf/<%= cl_image_path office.photo.identifier %>', height: 300, width: 400, crop: :fill)">
      <% else %>
      <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dy3nldgkf/image/upload/v1550694549/yjljvnqgein5027osqiq.png')">
      <% end %>
      <h3 class="title"><% office.name.split(" ").each do |word| %>
         <%= word.capitalize + " "%>
         <% end %>
      </h3>
      </div>
    <div class="card-description">
      <p class="desc"><%= office.workspace_type %>, <%= office.number_of_seats %> seat</p>
      <p class="price">$<%= office.price %>/day</p>
    </div>
  </div>
  <% end %>
</div>
