<<<<<<< HEAD

=======
<h1>Offices</h1>
<div class="office-container">
<p><%= link_to '+ Add new office', new_office_path %></p>
  <div class="row">
    <% @offices.each do |office| %>
      <div class="col-xs-4">
        <%= link_to office_path(office), class:"office-card-link" do %>
          <div class="office-card" style="background-image: linear-gradient(-200deg, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.6) 70%), url(<%= asset_path('office_placeholder') %>);">
            <h3><%= office.name %></h3>
            <p><%= office.price %></p>
            <p><%= office.workspace_type %>, <%= office.number_of_seats %> seat</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
>>>>>>> 6302d28e85a195d2154bdd926761e7af4c6d1bd3
