<%= link_to '< Back', offices_path %>

<h1><% @office.name.split(" ").each do |word| %>
 <%= word.capitalize + " "%>
 <% end %></h1>
 <%= link_to 'Book', new_office_booking_path(@office), class:"btn btn-success" %>
 <% if policy(@office).edit? %>
   <%= link_to 'Edit', edit_office_path(@office), class:"btn btn-warning" %>
 <% end %>
 <br>
 <p>Price: $<%= @office.price %> / day</p>
 <p>Workspace type: <%= @office.workspace_type %></p>
 <p>Number of seats: <%= @office.number_of_seats %></p>
 <h4>Facilities</h4>
 <ul>
  <% if @office.wifi %>
  <li>Wifi <i class="fas fa-check"></i></li>
  <% end %>
  <% if @office.coffee %>
  <li>Coffee <i class="fas fa-check"></i></li>
  <% end %>
  <% if @office.lockers %>
  <li>Lockers <i class="fas fa-check"></i></li>
  <% end %>
  <% if @office.kitchen %>
  <li>Kitchen <i class="fas fa-check"></i></li>
  <% end %>
</ul>
