<div id="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @office.photo, height: 0.3, crop: :fit %>')">
</div>
<div class="inner-container">
  <div class="description">
    <h1>
      <% @office.name.split(" ").each do |word| %>
      <%= word.capitalize + " "%>
      <% end %>
    </h1>
    <% if policy(@office).edit? %>
    <%= link_to 'Edit', edit_office_path(@office), class:"btn btn-warning" %>
    <% end %>
    <p>Workspace type: <%= @office.workspace_type %></p>
    <p>Number of seats: <%= @office.number_of_seats %></p>
    <h4>Facilities</h4>
    <ul class="facilities">
      <% if @office.wifi %>
      <li><i class="fas fa-wifi"></i> Wifi </i></li>
      <% end %>
      <% if @office.coffee %>
      <li><i class="fas fa-coffee"></i> Coffee </i></li>
      <% end %>
      <% if @office.lockers %>
      <li><i class="fas fa-suitcase"></i> Lockers </i></li>
      <% end %>
      <% if @office.kitchen %>
      <li><i class="fas fa-utensils"></i> Kitchen </i></li>
      <% end %>
    </ul>

  </div>

  <div class="cta">
    <p>Price: $ <span id="day-price"><%= @office.price %></span> / day</p>

    <%= render '/bookings/form', office: @office, booking: Booking.new %>
    <p>Total price: $<span id="total-price">0</span></p>
  </div>

</div>

<div class="row">
  <div class="review-container col-xs-8 col-xs-offset-2">
   <% if @office.rating.to_f.nan? %>
   <h4>No reviews yet</h4>
   <% else %>
   <div class="rev-form">
    <h4>Reviews (<%= @office.reviews.count %>)</h4>
    <% end %>
    <% if @bookings.first %>

    <p style="display: none;" id="booking-id"><%= @bookings.first.id %></p>
    <%= render 'reviews/form', booking: @bookings %>
    <% end %>
    <h5>Avg   <%=  @office.rating.round(1)%> <i class="fas fa-star"></i></h5>
  </div>
  <ul id="reviews">
    <% @office.reviews.each do |review| %>
    <li> <%= review.rating %> Stars:  "<%= review.content %>"</li>
    <% end %>
  </ul>
</div>
</div>

