<div style="background-color: rgba(237, 30, 30,0.02 );">
  <h4 style="
    margin-top: 0px;
">Bookings of Your Offices</h4>
<div class="text-center">
 <%= link_to 'Back to my offices', owner_offices_path, class: "btn btn-primary" %>
</div>
<div class="container">
   <div class="row">

      <% @bookings.each do |booking| %>
       <div class="col-xs-6">
      <div class="office-card owner-bookings-cards border-radius">
     <div class="card-img image-border-radius" style="background-image: linear-gradient(-200deg, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.6) 70%), url(<%= cl_image_path(booking.office.photo) %>);">
      <p><%= link_to "Edit booking", edit_owner_booking_path(booking), class: "btn btn-primary" %></p>

     </div>
     <div class="card-description">
            <h5 class="title">
              <%= booking.start_date %> to <%= booking.end_date %>π
              </h5>

          </div>
    </div>
    </div>
      <% end %>

    </div>
  </div>
</div>
</div>

