<div style="background-color: rgba(10, 46, 252,0.02 );">
  <h1 style="
  margin-top: 0px;
  ">My Bookings</h1>
  <h4>You have <b><%="#{current_user.bookings.count}"%></b> upcoming booking(s)</h4>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <% @bookings.each do |booking| %>
      <div>
        <div class="office-card owner-bookings-cards border-radius">
          <div class="card-img image-border-radius" style="background-image: linear-gradient(-200deg, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.6) 70%), url(<%= asset_path('office_placeholder.jpg') %>);">
            <h3 class="title"><%= booking.office.name %></h3>
            <%= link_to edit_booking_path(booking) do%>
            <i class="far fa-edit"></i>
            <% if  booking.review%>
            <%= link_to 'See your review', office_path(booking.office_id) %>
            <% else %>
            <%= link_to 'add a review', new_booking_review_path(booking) %>
            <% end %>
            <% end %>
          </div>
          <div class="card-description">
            <p class="desc">Booked from <%= booking.start_date %> to <%= booking.end_date %> </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>


