<h1>Your bookings</h1>

 <div class="row">
      <% @bookings.each do |booking| %>
        <div class="col-xs-4">

            <div class="office-card">
              <div class="card-img" style="background-image: linear-gradient(-200deg, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.6) 70%), url(<%= asset_path('office_placeholder') %>);">
                <h3 class="title"><%= booking.office.name %></h3>
                <%= link_to edit_booking_path(booking) do%>
      <i class="far fa-edit"></i>
      <% end %>
              </div>
              <div class="card-description">
                <p class="desc">, <%= booking.start_date %>, <%= booking.end_date %></p>

              </div>
            </div>
          \
        </div>
      <% end %>
    </div>
<ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.office.name %>. From: <%= booking.start_date %>, to: <%= booking.end_date %> <%= link_to edit_booking_path(booking) do%>
      <i class="far fa-edit"></i>
      <% end %>
    </li>
  <% end %>
</ul>
