<h1>Your bookings</h1>
<ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.office.name %>. From: <%= booking.start_date %>, to: <%= booking.end_date %> <%= link_to 'edit', edit_booking_path(booking) %>
      <% if  booking.review%>
      <%= link_to 'See your review', office_path(booking.office_id) %>
      <% else %>
      <%= link_to 'add a review', new_booking_review_path(booking) %>
      <% end %>
    </li>
  <% end %>
</ul>
