<div class="navbar-blank-space">
  <div class="navbar-cowork">
    <!-- Logo -->

    <h4><%= link_to 'Cowork Rental', offices_path %></h4>
    <div class="search-container">
      <form id="search" action="/offices" method="get">
        <input id="search-input" type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>


    <!-- Right Navigation -->
    <% if user_signed_in? %>
    <div class="navbar-cowork-right">
      <% if current_user.owned_offices.empty? %>
        <%= link_to "Host", new_office_path, class:"navbarcowork-item navbar-cowork-link" %>
      <% else %>
        <%= link_to "Offices (#{current_user.owned_offices.count})", owner_offices_path, class:"navbarcowork-item navbar-cowork-link" %>
      <% end %>
      <%= link_to "Messages", root_path, class:"navbarcowork-item navbar-cowork-link" %>
    <% end %>

      <!-- Profile picture with dropdown list -->
      <div class="navbar-cowork-item">
        <div class="dropdown">
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-cowork-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-cowork-dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
      <div class="navbar-cowork-item">
        <div class="dropdown">
          <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-cowork-dropdown-menu">
            <li><%= link_to 'Owner - Offices', owner_offices_path %></li>
            <li><%= link_to 'Owner - Bookings', owner_bookings_path %></li>
            <li><%= link_to 'Renter - Bookings', bookings_path %></li>
            <li><%= link_to 'Renter - ', bookings_path %></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Dropdown appearing on mobile only -->
  </div>
</div>
