<div class="navbar-blank-space">
  <div class="navbar-cowork">
    <!-- Logo -->

    <h4><%= link_to 'Cowork Rental', offices_path %></h4>
    <div class="search-container">
      <form id="search" action="/offices" method="get">
        <input id="search-input" type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>


    <!-- Right Navigation -->

    <!-- for when the user is NOT logged in -->
      <% if user_signed_in? == false %>
        <%= link_to "Host", owner_offices_path, class:"navbarcowork-item navbar-cowork-link", id: "host" %>
        <%= link_to "Rent", root_path, class:"navbarcowork-item navbar-cowork-link" %>
    <% end %>

    <!-- for when the user is logged in -->
    <% if user_signed_in? %>
    <div class="navbar-cowork-right">
      <% if current_user.owned_offices.empty? %>
        <%= link_to "Host", new_office_path, class:"navbarcowork-item navbar-cowork-link" %>
      <% else %>
        <%= link_to "Offices (#{current_user.owned_offices.count})", owner_offices_path, class:"navbarcowork-item navbar-cowork-link", id: "office" %>
      <% end %>
      <%= link_to "Rent", root_path, class:"navbarcowork-item navbar-cowork-link" %>
    <% end %>

      <!-- Profile picture with dropdown list -->
      <div class="navbar-cowork-item">
        <div class="dropdown">
          <i class="fas fa-user"class="avatar dropdown-toggle" id="navbar-cowork-menu" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-cowork-dropdown-menu">
          <% if user_signed_in? %>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Log in", new_user_session_path%></li>
          <% end %>
          </ul>
        </div>
      </div>
      </div>
    </div>

    <!-- Dropdown appearing on mobile only -->
  </div>
</div>
