<div style="background-color: rgba(237, 30, 30,0.02 );">
  <h4 style="margin-top: 0px; margin-left: 1em">My Offices</h4>

<div class="text-center">


    <%= link_to 'See your booked offices', owner_bookings_path, class: "btn btn-primary" %>
    <%= link_to '+ Add an Office', new_office_path, class: "btn btn-primary" %>
    </div>
<div class="container">


   <div class="row">

      <% @offices.each do |office| %>
<div class="col-xs-6">
<div class="office-card owner-bookings-cards border-radius">
     <div class="card-img image-border-radius" style="background-image: linear-gradient(-200deg, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.6) 70%), url(<%= cl_image_path(office.photo) %>);">
      <p><%= link_to "Edit your office", edit_office_path(office), class: "btn btn-primary" %></p>

     </div>
     <div class="card-description">
            <h5 class="title">
              <%= office.name %>
                <small> $<%= office.price%></small>
              </h5>


          </div>
    </div>
</div>
      <% end %>

  </div>
  </div>
</div>
</div>

